<div>
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="index.html" class="site_title"><span>Template Admin</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>Angular Skeleton</h3>
                    <ul class="nav side-menu">
                        <li><a href="#/" ><i class="fa fa-home"></i>Accueil</a></li>
                        <li><a href="#/accessprojet" ><i class="fa fa-unlock"></i>Demande d'accès à un projet</a></li>
                        <li><a href="new_projet.html" ><i class="fa fa-plus-square"></i>Demande d'ajout à un projet</a></li>
                        <li><a href="profil.html" ><i class="fa fa-user"></i>Mon profil</a></li>
                        <li><a href="#/admin" ><i class="fa fa-wrench red"></i>Administration du portail</a></li>
                        <li><a href="#/login" ><i class="fa fa-power-off green"></i>Déconnexion</a></li>
                    </ul>
                </div>
            </div>
            <!-- /sidebar menu -->
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a  class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Bonjour John Doe
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->
</div>